@import url('https://fonts.googleapis.com/css?family=Mate');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

$sans: 'Didact Gothic', sans-serif;
$serif: 'Mate', serif;

html {
	font-family: $sans;
	font-size: 100%;
	line-height: 1.2;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	font-variant-ligatures: common-ligatures;
	font-size: 14px;
}

::selection {
	color: white;
	background: black;
}
